.dashboard-content {
  /* border: 2px solid black; */
  min-height: 10%;
  /* display: flex; */
  /* align-items: center; */
}
.dashboard-tracker {
  display: flex;
  justify-content: space-between;
}
.tracker-card {
  position: relative;
  width: 220px;
  height: 120px;
  border-radius: 20px;
}
.icon-div {
  position: absolute;
  right: 20px;
  top: 20px;
}

.tracker-card-name {
  position: absolute;
  top: 40%;
  left: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.tracker-card-amount {
  position: absolute;
  top: 53%;
  left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
