.dashboard-content {
  display: flex;
  height: 20%;
  /* border: 2px solid rgb(78, 91, 91); */
}
.dashboard-tracker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.tracker-card {
  position: relative;
  width: 20%;
  height: 80%;
  border-radius: 10px;
}
.icon-div {
  position: absolute;
  right: 10%;
  top: 10%;
}
.tracker-card-name {
  position: absolute;
  top: 40%;
  left: 10%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1rem;
  color: #000000;
}
.tracker-card-amount {
  position: absolute;
  top: 53%;
  left: 10%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #000000;
}
