.dashboard-content {
  display: flex;
  height: 20%;
  border: 2px solid cyan;
}
.dashboard-tracker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.tracker-card {
  position: relative;
  width: 20%;
  height: 80%;
  border-radius: 10%;
}
.icon-div {
  position: absolute;
  right: 10%;
  top: 10%;
}
.tracker-card-name {
  position: absolute;
  top: 40%;
  left: 10%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 17px;
  color: #000000;
}
.tracker-card-amount {
  position: absolute;
  top: 53%;
  left: 10%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 95%;
  line-height: 33px;
  color: #000000;
}
