.dashboard-header {
  height: 10%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  color: black;
}
.dashboard-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}
.dashboard-menu {
  display: flex;
  align-items: center;
}
.dashboard-menu > h1 {
  display: flex;
  align-items: center;
  color: black;
  padding-left: 1rem;
}
